.section {
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 25px;
  margin-top: 10px;
  width: 1000px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  padding: 5px;
}


p {
  margin: 1px;
}


#ranges {
  padding-left: 30px;
  padding-bottom: 20px;
}

.header {
  font-size: 50px;
  font-weight: bold;
}

#rangeTable tr td{
  width: 100px;
}

#rangeTable, tr {
  /*border: 1px solid #b3b3b3;*/
}

table, th, tr, td {
  border-collapse: collapse;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  padding: 1px 6px;
  white-space: nowrap;
}

input {
  width: 70px;
  margin-bottom: 10px;
  padding: 1px 6px;
}

.bold {
  font-weight: bold;
}

.deleteButton {
  font-weight: bold;
  color: red;
  float: right;
  width: 100%;
}

#graphTitles {
  padding: 20px;
  padding-left: 55px;
}

#graphLabels {
  padding-left: 63px;
}

#graphTitles div {
  display: inline-block;
  margin-right: 190px;
}

#graph1, #graph2 {
  padding: 0px 20px;
  display: inline-block;
}

#graph1 {
  padding-right: 180px;
}

.bar {
  display: inline-block;
  width: 20px;
  border: 1px solid black;
  background-color: #da7ac2;
}

.barY {
  display: inline-block;
  width: 40px;
  height: 100px;
  /* background-color: black; */
  border-right: 1px solid black;
}

#graphLabels div {
  display: inline-block;
}


#barX {
  font-size: 10px;
  margin-right: 7.5px;
}

.barTitle, .barLabel {
  width: 188px;
}

.barLabel {
  margin-right: 186px;
}
.barLabel {
  font-size: 70%;
}

.title100 {
  display: block;
  position: absolute;
  font-size: 70%;
}

